[submodule "lib/idle"]
	path = lib/idle
	url = https://github.com/flaviotordini/idle
	branch = master
[submodule "lib/media"]
	path = lib/media
	url = https://github.com/flaviotordini/media
	branch = master
[submodule "lib/http"]
	path = lib/http
	url = https://github.com/flaviotordini/http
	branch = master
[submodule "lib/updater"]
	path = lib/updater
	url = https://github.com/flaviotordini/updater
	branch = master
[submodule "lib/js"]
	path = lib/js
	url = https://github.com/flaviotordini/js
	branch = master
[submodule "lib/promises"]
	path = lib/promises
	url = https://github.com/flaviotordini/promises
	branch = master
[submodule "lib/singleapplication"]
	path = lib/singleapplication
	url = https://github.com/itay-grudev/SingleApplication
	branch = master
[submodule "lib/qt-reusable-widgets"]
	path = lib/qt-reusable-widgets
	url = https://github.com/flaviotordini/qt-reusable-widgets
[submodule "lib/yt"]
	path = lib/yt
	url = https://github.com/flaviotordini/yt
