<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Minitube</string>
	<key>CFBundleIconFile</key>
	<string>minitube.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright 2009 Flavio Tordini</string>
	<key>CFBundleExecutable</key>
	<string>minitube</string>
	<key>CFBundleIdentifier</key>
	<string>org.tordini.flavio.minitube</string>
</dict>
</plist>
