[Desktop Entry]
Name=Minitube
Name[en_US]=Minitube
Comment=Watch YouTube videos
Comment[es]=Vea los videos de YouTube
Comment[gl]=Vexa os vídeos de YouTube
Comment[it]=Guarda i video di YouTube
Comment[tr]=YouTube videoları izleyin
GenericName=YouTube client
GenericName[en_US]=YouTube client
GenericName[es]=Cliente de YouTube
GenericName[gl]=Cliente de YouTube
GenericName[it]=Client per YouTube
GenericName[tr]=YouTube istemcisi
Exec=minitube
Terminal=false
Type=Application
Icon=minitube
Categories=Application;Qt;AudioVideo;Video;
StartupNotify=true
