[Desktop Entry]
Name=Minitube
Name[en]=Minitube
Comment=Watch YouTube videos
Comment[es]=Vea los videos de YouTube
Comment[gl]=Vexa os vídeos de YouTube
Comment[it]=Guarda i video di YouTube
Comment[tr]=YouTube videoları izleyin
GenericName=YouTube app
GenericName[en]=YouTube app
GenericName[es]=Cliente de YouTube
GenericName[gl]=Cliente de YouTube
GenericName[it]=Applicazione per YouTube
GenericName[tr]=YouTube istemcisi
Exec=minitube
Terminal=false
Type=Application
Icon=minitube
Categories=AudioVideo;Player;Qt;
StartupNotify=false
Actions=TogglePlaying;Next;Previous;StopAfterThis

[Desktop Action TogglePlaying]
Name=Play/Pause
Exec=minitube --toggle-playing

[Desktop Action Next]
Name=Next
Exec=minitube --next

[Desktop Action Previous]
Name=Previous
Exec=minitube --previous

[Desktop Action StopAfterThis]
Name=Stop After This Video
Exec=minitube --stop-after-this
