[Desktop Entry]
Name=Minitube
Name[en_US]=Minitube
Comment=YouTube client
GenericName=YouTube client
GenericName[en_US]=YouTube client
Exec=minitube
Terminal=false
Type=Application
Icon=minitube
Categories=Application;Qt;AudioVideo;Video;
StartupNotify=true
