QMainWindow > QToolBar QToolButton::menu-indicator { image: none; }

QStatusBar QToolBar {
    padding:0;
    spacing:0;
    margin:0;
    border:0;
}

QStatusBar::item {
    border:0;
}

QStatusBar QToolButton::menu-indicator {
    image: none;
}

AppsWidget {
    background-color: palette(window);
    border-top: 1px solid #808080;
}

RegionsView QPushButton[regionId] {
    margin: 5px;
    padding: 7px 10px;
    text-align: left;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 3px;
}

RegionsView QPushButton[regionId=""] {

}

RegionsView QPushButton[regionId]:hover {
    background: rgba(0,0,0,16);
}

RegionsView QPushButton[regionId]:focus {
    background: palette(highlight);
    color: palette(highlightText);
    outline: 0;
}

RegionsView QPushButton[regionId]:checked {
    background: rgba(0,0,0,32)
}

SidebarHeader {
    background: #3c3c3c;
    padding: 0;
    margin: 0;
    spacing: 0;
}

SidebarHeader QToolButton {
    border: 0;
    padding: 0;
    margin: 0;
    spacing: 0;
    height: 20;
    width: 24;
}

SidebarHeader QPushButton {
    background: transparent;
    color: #fff;
    text-align: center;
}

SidebarHeader QComboBox::drop-down {
    width: 0;
    border-style: none;
}

SearchView QLabel[recentHeader="true"] {
    color: #808080;
    margin-left: 2px;
    margin-bottom: 4px;
    padding: 0;
}

SearchView QPushButton[recentItem="true"] {
    border: 0;
    padding: 4px;
    text-align: left;
    outline: 0;
}

SearchView QPushButton[recentItem="true"]:hover {
    background: rgba(0,0,0,16);
}

SearchView QPushButton[recentItem="true"]:pressed {
    background: palette(highlight);
    color: white; /* SHOULD BE color: palette(highlightText); */
}

SearchView QPushButton[recentItem="true"]:focus {
    outline: 1px solid palette(highlight);
    outline-offset: 4px;
}
